@model IEnumerable<NQLBaiTapLon010.Models.Dangkytuyendung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutADM.cshtml";
}

<h2>Danh sách tuyển dụng</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gioitinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaysinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quequan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trinhdo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vitriungtuyen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kinhnghiem)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gioitinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaysinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quequan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trinhdo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vitriungtuyen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kinhnghiem)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
