@model IEnumerable<NQLBaiTapLon010.Models.Luong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutADM.cshtml";
}

<h2>Danh sách Lương</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<form action="/Admins/LuongsADM/Index" method="post" enctype="multipart/form-data">
    <input type="file" name="file" value="" />
    <input type="submit" name="name" value="Cập nhật" />
</form>
    @*@using (Html.BeginForm("/Admins/LuongsADM/Index", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                @Html.TextBox("abc", "", new { type = "file" }) <br />

                <input type="submit" value="Cập Nhật Lương" class="btn btn-danger" />
            </div>
        }*@

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nhanviens.Tennhanvien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LuongNgay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayCong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TamUng)
            </th>
            <th>
                Tổng Lương
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            double total = Convert.ToDouble(item.NgayCong * item.LuongNgay - item.TamUng);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nhanviens.Tennhanvien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Thang)
                </td>
                <td>
                    @string.Format("{0:#,##0}", item.LuongNgay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayCong)
                </td>
                <td>
                    @string.Format("{0:#,##0}", item.TamUng)
                </td>
                <td>
                    @string.Format("{0:#,##0}", @total)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
