@model IEnumerable<NQLBaiTapLon010.Models.Chucvu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chức vụ</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tenchucvu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tenchucvu)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.IDchucvu }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.IDchucvu }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.IDchucvu })
        </td>
    </tr>
}

</table>
