@model NQLBaiTapLon010.Models.Hopdong

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Hopdong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nhanviens.Tennhanvien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nhanviens.Tennhanvien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaykyket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaykyket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thoihanhopdong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thoihanhopdong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
