@model IEnumerable<NQLBaiTapLon010.Models.Phongban>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tenphongban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sdtphongban)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tenphongban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sdtphongban)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDphongban }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDphongban }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDphongban })
        </td>
    </tr>
}

</table>
